/* Т.к. большая часть иконок светлого цвета, использую серый фон для наглядности */

/* Некоторые иконки меняют цвет. Для этого в папке "img" имеются экземпляры для
состояния покоя/клика и наведения. Изменение значения "src" полагаю делать через JS. */

/* Прошу не судить строго реализацию. Многое здесь задано временно для демонстрации
работы с графикой в условиях бекграунда. По мере учебы подход будет улучшаться. */

body {
  background-color: #aaa;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* FLAG "NEW" POSITION */

.product-marking-new {
	position: absolute;
	top: 0;
	right: 0;
}

/* PROMO CELLS */

.promo-cell {
	position: relative;
	height: 123px;
	width: 300px;
}

.promo-upside-list .promo-cell:nth-child(1) {
	background: url("../img/promo/promo_1.png") 212px 30px no-repeat #ffbf47;
}

.promo-upside-list .promo-cell:nth-child(2) {
	background: url("../img/promo/promo_2.png") 197px 33px no-repeat #3bbce3;
}

.promo-upside-list .promo-cell:nth-child(3) {
	background: url("../img/promo/promo_3.png") 190px 31px no-repeat #dc91d8;
}

.promo-downside-list .promo-cell:nth-child(1) {
	background: url("../img/promo/promo_4.png") 196px 26px no-repeat #8ed78f;
}

.promo-downside-list .promo-cell:nth-child(2) {
	background: url("../img/promo/promo_5.png") 191px 32px no-repeat #ffc047;
}

/* PROMO SLIDER */

.promo-slider-item {
	height: 266px;
	width: 621px;
}

.promo-slider-item:nth-child(1) {
	background: url("../img/promo/slider/slider_perforators.jpg") no-repeat;
}

.promo-slider-item:nth-child(2) {
	background: url("../img/promo/slider/slider_drills.jpg") no-repeat;
}

/* POPULAR PRODUCTS */

.product-cell {
	position: relative;
	height: 318px;
	width: 220px;
}

.product-actual-price {
	height: 38px;
	width: 141px;
	background: url("../img/products/misc/bg_price.svg") no-repeat;
}

/* FILTER */

.filter-range {
  height: 20px;
  width: 20px;
  background: url("../img/icons/icons_inter/icon_range.svg") no-repeat;
  border: none;
}

/* PRODUCT LIST */

.product-list-up,
.product-list-down {
  height: 11px;
  width: 10px;
}

.product-list-up {
  background: url("../img/icons/icons_inter/icon_up-dir_(inactive).svg") no-repeat;
}

.product-list-down {
  background: url("../img/icons/icons_inter/icon_down-dir_(calm).svg") no-repeat;
}

.product-cell {
  position: relative;
  height: 318px;
  width: 220px;
}

/* Скорее всего это очень безграмотно (хотя могу ошибаться), но я временно 
задал высоту и ширину инлайновому элементу. Мне кажется, здесь нужен блочный элемент. 
Если не прав, пожалуйста, поправьте. */
.product-actual-price {
  height: 38px;
  width: 141px;
  background: url("../img/products/misc/bg_price.svg") no-repeat;
}

/* SERVICES' SLIDER */

.services-slider {
	height: 522px;
	width: 1200px;
	background: url("../img/services_slider/delivery.png") 601px bottom no-repeat #f4f7f9;
}

/* FOOTER SOCIAL */

.footer-social {
  height: 42px;
  width: 42px;
}

/* MAP POP-UP */

.popup-about-us {
	position: relative;
	height: 446px;
	width: 940px;
}

.popup-about-us-full-map-close {
	position: absolute;
	top: 9px;
	right: 9px;
	height: 21px;
	width: 21px;
	background: url("../img/icons/icon_close.svg") no-repeat;
	border: none;
}

/* FEEDBACK POP-UP */

.popup-write-us {
	position: relative;
	height: 423px;
	width: 620px;
	background-color: #fff;
	border-top: 7px solid #ee3643;
}

.popup-write-us-close {
  position: absolute;
  top: 9px;
  right: 9px;
  height: 21px;
  width: 21px;
  background: url("../img/icons/icon_close.svg") no-repeat;
  border: none;
}

/* PRODUCT-IN-BASKET ALERT POP-UP */

.popup-product-in-basket-alert {
  position: relative;
  height: 275px;
  width: 620px;
  background-color: #fff;
  border-top: 7px solid #ee3643;
}

.popup-product-in-basket-close {
  position: absolute;
  top: 9px;
  right: 9px;
  height: 21px;
  width: 21px;
  background: url("../img/icons/icon_close.svg") no-repeat;
  border: none;
}